#todo-input
{
    width: 730px;
    height: 50px;
}

.top-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

}

.card-body
{
    display: flex;
    justify-content: space-between;
}